<form action="/productos/{{ productos._id }} " method="post">
  <input type="hidden" name="_method" value="post">

  <label for="producto_nombre">Nombre:</label>
  <input type="text" id="producto_nombre" name="productos[producto_nombre]" required>

  <label for="producto_bodega">Bodega:</label>
  <input type="text" id="producto_bodega" name="productos[producto_bodega]" required>

  <label for="producto_variedad">Variedad:</label>
  <input type="text" id="producto_variedad" name="productos[producto_variedad]" required>


  <label for="producto_tama単o">Tama単o:</label>
  <input type="text" id="producto_tama単o" name="productos[producto_tama単o]" required>


  <label for="producto_precio">Precio:</label>
  <input type="text" id="producto_precio" name="productos[producto_precio]" required>

  <label for="producto_stock">Stock:</label>
  <input type="text" id="producto_stock" name="productos[producto_stock]" required>



  <button type="submit">Actualizar producto</button>
</form>